@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<style>
img {
  border: 4px solid #555;
}
</style>
<div class="text-center">
    <h1 class="display-4"><img src="images/banner.webp"/></h1>
    <h3>User Management Portal</h3>
</div>
